/* estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #101010;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #1c1c1c;
}

/* sobre mi */
.sobre-mi {
    padding: 40px;
    background-color: #181818;
    text-align: center;
}

/* proyectos */
.proyectos {
    padding: 40px;
    background-color: #141414;
}

.grid-proyectos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.proyecto {
    background-color: #191919;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.proyecto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: box-shadow .3s;
}

.proyecto img:hover {
    box-shadow: 0 0 15px whitesmoke;
}

/*contacto*/
.contacto {
    padding: 20px;
    background-color: #181818;
    text-align: center;
}

.contacto a {
    color: lightblue;
    text-decoration: none;
}

/* footer */
footer {
    padding: 20px;
    background-color: #181818;
    text-align: center;
    font-size: 0.9em;
}

/*mediaqueries para responsividad*/
@media (max-width: 768px) {
    .grid-proyectos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .grid-proyectos {
        grid-template-columns: 1fr;
    }
}
